.section-full-area {
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    text-align: center;
}

/* Dots Menu Navigation
--------------------------------*/
.dots-menu-navigation {
    position: fixed;
    top: 50%;
    bottom: auto;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    -webkit-transition: opacity 0.615s ease-in-out 0s;
    transition: opacity 0.615s ease-in-out 0s;

    z-index: 30;
}

.dots-menu-navigation ul {
    list-style: none;
    margin: 0;
}

.dots-menu-navigation li {
    text-align: right;
    line-height: 1;
}

.dots-menu-navigation a {
    display: flex;
    /* Change this from inline-block to flex */
    align-items: center;
    /* Add this line */
    margin: 2px 0;
    float: left;
}

.dots-menu-navigation a span {
    display: inline-block;
    float: left;
}


.dots-menu-navigation.dark .dots-menu-dot {
    border-color: #28282E;
    background-color: rgba(40, 40, 46, 0.35);
}

.dots-menu-navigation .dots-menu-dot {
    position: relative;
    top: 4px;
    right: 3px;
    width: 12px;
    height: 12px;
    border: 1px solid #ffffff00;
    border-radius: 50%;
    background-color: #66696e;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-transition: background 0.215s ease-in-out 0s, border 0.215s ease-in-out 0s, -webkit-transform 0.415s ease-in-out 0s;
    transition: background 0.215s ease-in-out 0s, border 0.215s ease-in-out 0s, transform 0.415s ease-in-out 0s;
}

.dots-menu-navigation a.is-selected .dots-menu-dot,
.dots-menu-navigation a:hover .dots-menu-dot,
.dots-menu-navigation.dark a.is-selected .dots-menu-dot,
.dots-menu-navigation.dark a:hover .dots-menu-dot {
    background: #171923;
    border: 1px solid #ffffff3d;
    /* Modified border width and color */
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    position: relative;
    overflow: hidden;
    margin-left: 0px;
    /* Added overflow property */
}



.dots-menu-navigation a.is-selected .dots-menu-dot::before {
    content: "";
    position: absolute;
    top: 50%;
    /* Change this from 39% to 50% */
    left: 50%;
    /* Change this from 39% to 50% */
    transform: translate(-50%, -50%);
    /* Add this line */
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #ffffffd0;
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.616);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    transition: none;
    margin: -1px;
}

.dots-menu-dot {}

.line {
    height: 100%;
    position: fixed;
    top: 0;
    margin-left: 43px;
    background: linear-gradient(1deg, rgba(255, 255, 255, 0) 20%, rgb(255 255 255 / 30%) 30%, rgb(255 255 255 / 30%) 70%, rgba(255, 255, 255, 0) 80%);
    width: 0.04cm;
    opacity: 0.7;
    margin-top: -30px;
}


ul li {
    width: max-content;
}

.dots-menu-navigation .dots-menu-label {
    position: relative;
    margin-right: 5px;
    padding: 2px 0px 0px 10px;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.3;
    -webkit-transition: opacity 0.215s ease-in-out 0s, transform 0.215s ease-in-out 0s;
    /* Add transform to the transition property */
    transition: opacity 0.215s ease-in-out 0s, transform 0.215s ease-in-out 0s;
    /* Add transform to the transition property */
}



.dots-menu-label {}


.dots-menu-navigation .is-selected .dots-menu-label {
    /* margin-left: 6px; */
}




.pw {
    height: 100%;
}


.dots-menu-navigation.dark .dots-menu-label {
    color: #28282E;

}

.dots-menu-navigation a:hover .dots-menu-label,
.dots-menu-navigation .is-selected .dots-menu-label {
    opacity: 1;
    transform: translateX(6px);
}

.dots-menu-anchor {
    padding: 10px 0px;
}

.fck li {
    position: relative;
}

.fck ol[type~=q] {
    list-style-type: lower-roman;
}

.fck ol[type~=a] {
    list-style-type: lower-alpha;
}

.fck ul,
.fck ol {
    list-style: inherit;
    position: relative;
    margin-left: 30px;
}

.fck ol li:before {
    position: absolute;
    content: '\0029';
    color: inherit;
    background: #fff;
    width: 4px;
    left: -8px;
}




.vv-panel-btn {
    height: 34px;
    border: 2px solid #54866a;
    border-radius: 6px;
    width: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: button-animation 1s 1.4s forwards, drop-in 1.2s ease 500ms backwards;
}

.vv-panel-btn:hover {
   background-color: #ffffff09;
    transition: all 0.2s ease-in-out;
}

.vv-panel-btn p {
    color: #f0f8ff99;
    /* Start with transparent color */
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    animation: fade-in 3s 0s forwards;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes button-animation {
    0% {
        width: 0;
    }

    100% {
        width: 300px;
        opacity: 1;
    }
}