[Unit]
Description=Get holders
After=network.target

[Service]
Type=simple
KillMode=process
WorkingDirectory=/home/root/PumpGuard/
ExecStart=/home/root/PumpGuard/
ExecStop=/home/root/PumpGuard/
StandardOutput=append:/home/root/PumpGuard/
StandardError=append:/home/root/PumpGuard/
TimeoutStopSec=30
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target